html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
/* body::-webkit-scrollbar {
    display: none;
}
body {
  -ms-overflow-style: none;  
  scrollbar-width: none; 
} */
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* @font-face {
  font-family: 'Avenir Next Georgian';
  src: url('../public/fonts/AvenirNextGeorgian-Light.eot');
  src: url('../public/fonts/AvenirNextGeorgian-Light.eot?#iefix') format('embedded-opentype'),
      url('../public/fonts/AvenirNextGeorgian-Light.woff2') format('woff2'),
      url('../public/fonts/AvenirNextGeorgian-Light.woff') format('woff'),
      url('../public/fonts/AvenirNextGeorgian-Light.ttf') format('truetype'),
      url('../public/fonts/AvenirNextGeorgian-Light.svg#AvenirNextGeorgian-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir Next Georgian';
  src: url('../public/fonts/AvenirNextGeorgian-Heavy.eot');
  src: url('../public/fonts/AvenirNextGeorgian-Heavy.eot?#iefix') format('embedded-opentype'),
      url('../public/fonts/AvenirNextGeorgian-Heavy.woff2') format('woff2'),
      url('../public/fonts/AvenirNextGeorgian-Heavy.woff') format('woff'),
      url('../public/fonts/AvenirNextGeorgian-Heavy.ttf') format('truetype'),
      url('../public/fonts/AvenirNextGeorgian-Heavy.svg#AvenirNextGeorgian-Heavy') format('svg');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
} */

@font-face {
  font-family: 'Avenir Next Georgian';
  src: url('/fonts/AvenirNextGeorgian-Demi.eot');
  src: url('/fonts/AvenirNextGeorgian-Demi.eot?#iefix') format('embedded-opentype'),
      url('/fonts/AvenirNextGeorgian-Demi.woff2') format('woff2'),
      url('/fonts/AvenirNextGeorgian-Demi.woff') format('woff'),
      url('/fonts/AvenirNextGeorgian-Demi.ttf') format('truetype'),
      url('/fonts/AvenirNextGeorgian-Demi.svg#AvenirNextGeorgian-Demi') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* 
@font-face {
  font-family: 'Avenir Next Georgian';
  src: url('../public/fonts/AvenirNextGeorgian-Black.eot');
  src: url('../public/fonts/AvenirNextGeorgian-Black.eot?#iefix') format('embedded-opentype'),
      url('../public/fonts/AvenirNextGeorgian-Black.woff2') format('woff2'),
      url('../public/fonts/AvenirNextGeorgian-Black.woff') format('woff'),
      url('../public/fonts/AvenirNextGeorgian-Black.ttf') format('truetype'),
      url('../public/fonts/AvenirNextGeorgian-Black.svg#AvenirNextGeorgian-Black') format('svg');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir Next Georgian';
  src: url('../public/fonts/AvenirNextGeorgian-Medium.eot');
  src: url('../public/fonts/AvenirNextGeorgian-Medium.eot?#iefix') format('embedded-opentype'),
      url('../public/fonts/AvenirNextGeorgian-Medium.woff2') format('woff2'),
      url('../public/fonts/AvenirNextGeorgian-Medium.woff') format('woff'),
      url('../public/fonts/AvenirNextGeorgian-Medium.ttf') format('truetype'),
      url('../public/fonts/AvenirNextGeorgian-Medium.svg#AvenirNextGeorgian-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir Next Georgian';
  src: url('../public/fonts/AvenirNextGeorgian-Thin.eot');
  src: url('../public/fonts/AvenirNextGeorgian-Thin.eot?#iefix') format('embedded-opentype'),
      url('../public/fonts/AvenirNextGeorgian-Thin.woff2') format('woff2'),
      url('../public/fonts/AvenirNextGeorgian-Thin.woff') format('woff'),
      url('../public/fonts/AvenirNextGeorgian-Thin.ttf') format('truetype'),
      url('../public/fonts/AvenirNextGeorgian-Thin.svg#AvenirNextGeorgian-Thin') format('svg');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir Next Georgian';
  src: url('../public/fonts/AvenirNextGeorgian-Bold.eot');
  src: url('../public/fonts/AvenirNextGeorgian-Bold.eot?#iefix') format('embedded-opentype'),
      url('../public/fonts/AvenirNextGeorgian-Bold.woff2') format('woff2'),
      url('../public/fonts/AvenirNextGeorgian-Bold.woff') format('woff'),
      url('../public/fonts/AvenirNextGeorgian-Bold.ttf') format('truetype'),
      url('../public/fonts/AvenirNextGeorgian-Bold.svg#AvenirNextGeorgian-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir Next Georgian';
  src: url('../public/fonts/AvenirNextGeorgian-XtraBd.eot');
  src: url('../public/fonts/AvenirNextGeorgian-XtraBd.eot?#iefix') format('embedded-opentype'),
      url('../public/fonts/AvenirNextGeorgian-XtraBd.woff2') format('woff2'),
      url('../public/fonts/AvenirNextGeorgian-XtraBd.woff') format('woff'),
      url('../public/fonts/AvenirNextGeorgian-XtraBd.ttf') format('truetype'),
      url('../public/fonts/AvenirNextGeorgian-XtraBd.svg#AvenirNextGeorgian-XtraBd') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir Next Georgian';
  src: url('../public/fonts/AvenirNextGeorgian-UltLt.eot');
  src: url('../public/fonts/AvenirNextGeorgian-UltLt.eot?#iefix') format('embedded-opentype'),
      url('../public/fonts/AvenirNextGeorgian-UltLt.woff2') format('woff2'),
      url('../public/fonts/AvenirNextGeorgian-UltLt.woff') format('woff'),
      url('../public/fonts/AvenirNextGeorgian-UltLt.ttf') format('truetype'),
      url('../public/fonts/AvenirNextGeorgian-UltLt.svg#AvenirNextGeorgian-UltLt') format('svg');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir Next Georgian';
  src: url('../public/fonts/AvenirNextGeorgian-Regular.eot');
  src: url('../public/fonts/AvenirNextGeorgian-Regular.eot?#iefix') format('embedded-opentype'),
      url('../public/fonts/AvenirNextGeorgian-Regular.woff2') format('woff2'),
      url('../public/fonts/AvenirNextGeorgian-Regular.woff') format('woff'),
      url('../public/fonts/AvenirNextGeorgian-Regular.ttf') format('truetype'),
      url('../public/fonts/AvenirNextGeorgian-Regular.svg#AvenirNextGeorgian-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
} */

